p {
  text-align: justify;
  text-justify: inter-word;
  width: 90%;
  max-width: 710px;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  max-width: 900px;
}

/* Create two equal columns that floats next to each other */
.piccolumn {
  flex: auto;
  padding: 10px;
  padding-top: 50px;
}
.parcolumn {
  flex:auto;
  padding: 10px;
  /* min-width: 300px; */
}

.navbar {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #7c7c7c;
  max-width: 1000px;
  justify-content: center;
}

.navbar>div{
  
  display: inline-flex;
  flex-grow: 1;
  justify-content: center;
}

.navbar a {
  flex-grow: 1;
  color: rgb(0, 0, 0);
  padding: 14px 20px;  
  text-decoration: none;  
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  border: 1px solid #bbb;
}
  
.navbar a:hover:not(.active) {
  background-color: #584158;
}

.navbar .active {
  background-color: #936f94;
}